*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  background-color: #000;
  padding: 10rem;
}

.section__container h1 {
  color: white;
}

.section__container-text{
  display: flex;
  justify-content: center;
  padding-right: 400px;
}
