*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  background-color: #0A0A0A;
  padding: 10rem;
}

.section__container h1 {
  color: white;
}

.section__container-text{
  display: flex;
  justify-content: center;
  padding-right: 400px;
}

h1 {
  line-height: 1.5;
}

.section__container-ig_logo {
  width: 20px;
  height: 20px;
  margin-top: 10px ;
  position: relative;
  left: 91rem;
 
}

.section__container-text-silvio {
  padding-left: 265px;
  font-size: 40px;
}

h1:first-child {
  color: grey;
}

img {
  filter: brightness(0) invert(1);
}