.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tuca-cafe:hover {
  filter: brightness(70%);
}

.tuca-cafe {
  width: 50%;
  margin: 0 auto;
  transition: opacity 0.9s ease-in-out;
}

.tuca-cafe.hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.tuca-cafe:hover .hover {
  opacity: 1;
}

.tuca-cafe-text {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tuca-cafe.hover + .tuca-cafe-text {
  visibility: visible;
  opacity: 1;
}
