.page {
  color: var(--branco);
}

.smile-404 {
  width: 50rem;
  height: 50rem;
}

.smile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}