.page {
  color: var(--azul);
  font-family: "Roboto";
  font-size: 4rem;
  margin-top: 1em;
}

.smile-404 {
  width: 50rem;
  height: 50rem;
}

.smile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.back-btn {
  font-family: "Roboto";
  margin-top: 1rem;
  color: var(--azul);
  text-decoration: none;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .page {
    color: var(--azul);
    font-family: "Roboto";
    font-size: 2rem;
    margin-top: 1em;
  }

  .smile-404 {
    width: 25rem;
    height: 25rem;
  }
}
