.aqua-img-1 {
  width: 80%;
  position: relative;
  left: 15%;
  bottom: 20rem;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.aqua-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--branco);
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.aqua-p {
  padding-left: 16rem;
  padding-right: 16rem;
  text-align-last: initial;
  word-spacing: 2px;
  line-height: 1.7;
  font-family: "Roboto";
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.aqua-bank-2 {
  width: 80%;
  position: relative;
  left: 10%;
}

.aqua__container {
  position: relative;
  left: 9rem;
  bottom: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aqua__container h2 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.fotos-aqua {
  width: 80%;
  padding-bottom: 1rem;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  margin-bottom: 5.5rem;
  margin-top: 2rem;
}

button.learn-more {
  width: 15rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: -0.6rem;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

.arrow-port {
  color: var(--branco);
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  margin-left: 24.5rem;
  bottom: 25rem;
}

@media screen and (max-width: 768px) {
  .arrow-port {
    display: none;
  }
  
  .aqua-img-1 {
    width: 80%;
    position: relative;
    left: 15%;
    bottom: 0;
    opacity: 0;
    animation: fadeIn 2s forwards;
  }

  .aqua__container {
    position: relative;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
