footer {
  background-color: #000;
}

.nav__logo {
  width: 50px;
  height: 60px;
  margin-top: 5px;
  padding-top: 5px;
}

.nav__logo-footer {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  left: 9rem;
  bottom: 0;
  width: 10rem;
  height: 100px;
}

.footer-container {
  display: none;
}

.section__container-ig_logo:hover {
  transform: scale(1.2);
  transition: 100ms ease;
}
.section__container-ig_behance_logo:hover {
  transform: scale(1.2);
  transition: 100ms ease;
}
.section__container-ig_dribble_logo:hover {
  transform: scale(1.2);
  transition: 100ms ease;
}

@media screen and (max-width: 768px) {
  .footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    position: relative;
    left: 15rem;
  }

  .section__container-ig_logo {
    position: relative;
    left: 10rem;
  }
  .section__container-ig_behance_logo {
    position: relative;
    left: 10rem;
  }
  .section__container-ig_dribble_logo {
    position: relative;
    left: 10rem;
  }
}
