@import url("https://fonts.googleapis.com/css2?family=Inter&family=Nova+Square&family=Roboto:wght@100;400&display=swap");

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}



.section__container-text-silvio {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  padding-left: 270px;
  font-size: 40px;
}

.section__container-text {
  display: flex;
  justify-content: center;
  padding-right: 400px;
  font-weight: 100;
}

.section__container {
  background-color: #0a0a0a;
  padding: 10rem;
}

.section__container h1 {
  color: white;
}

h1 {
  line-height: 1.5;
}

.section__container-ig_logo {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  position: relative;
  left: 91rem;
  filter: brightness(0) invert(1);
}

.section__container-ig_behance_logo {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  position: relative;
  left: 92.5rem;
  filter: brightness(0) invert(1);
}

.section__container-ig_dribble_logo {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  position: relative;
  left: 94rem;
  filter: brightness(0) invert(1);
}

.container-div {
  width: 80%;
  position: relative;
  left: 10%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-top: 10px;
}

.tuca-cafe:hover {
  filter: brightness(70%);
}

.tuca-cafe {
  width: 50%;
  margin: 0 auto;
  transition: opacity 0.9s ease-in-out;
}

.tuca-cafe.hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.tuca-cafe:hover .hover {
  opacity: 1;
}

.tuca-cafe-text {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tuca-cafe.hover + .tuca-cafe-text {
  visibility: visible;
  opacity: 1;
}


.ponto-bank:hover {
  filter: brightness(70%);
}

.ponto-bank {
  width: 50%;
  margin: 0 auto;
  padding-left: 20px;
  transition: opacity 0.9s ease-in-out;
}

.ponto-bank.hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.ponto-bank:hover .hover {
  opacity: 1;
}

.ponto-bank-text {
  position: absolute;
  top: 50%;
  left: 115rem;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.ponto-bank.hover + .ponto-bank-text {
  visibility: visible;
  opacity: 1;
}