.sliderStyles {
  height: 100%;
  position: relative;
}

.leftArrowStyles {
  position: absolute;
  top: 30%;
  transform: translate(0, 50%);
  left: 32px;
  font-size: 45px;
  color: black;
  z-index: 1;
  cursor: pointer;
}

.rightArrowStyles {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 45px;
  color: black;
  z-index: 1;
  cursor: pointer;
}

.slideStyles {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

.dotsContainerStyle {
  display: flex;
  justify-content: center;
}

.dotStyles {
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
}

.containerStyle {
  width: 700px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  top: -30px;
}

