@import url("https://fonts.googleapis.com/css2?family=Inter&family=Nova+Square&family=Roboto:wght@100;400&display=swap");

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
li {
  list-style: none;
}
/* .nav__link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: var(--azul);
  position: relative;
}

.nav__link:hover::before {
  content: "";
  cursor: pointer;
  position: absolute;
  left: 80px;
  top: 50%;
  height: 3px;
  width: 15px;
  background-color: white;
} */
.nav__link {
  align-items: center;
  background-color: transparent;
  position: relative;
  right: 1.5rem;
  color: var(--azul);
  cursor: pointer;
  display: flex;
  font-family: 'Roboto';
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 1rem;
}

.nav__link:before {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all 0.42s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 0;
}

.nav__link:hover:before {
  background-color: #fff;
  width: 3rem;
}

.nav__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 3rem;
  bottom: 0;
  margin: 0 auto;
}
.nav__brand {
  text-transform: uppercase;
}

.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

.nav__logo {
  position: relative;
  left: 4.5rem;
  bottom: 5rem;
  width: 90px;
  height: 140px;
}

/* img {
  transition: background-color 0.5s ease;
}
img:hover {
  background-color: yellow;
} */

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background: #000;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}
