.portfolio {
  width: 70%;
  position: relative;
  left: 15%;
  padding-top: 7rem;
  padding-bottom: 7rem;
 
}

.ponto-bank-port:hover {
  filter: brightness(70%);
}

.ponto-bank-port {
  width: 50%;
  margin: 0 auto;
  padding-left: 20px;
  transition: opacity 0.9s ease-in-out;
}

.ponto-bank-port.hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.ponto-bank-port:hover .hover {
  opacity: 1;
}

.ponto-bank-text-port {
  position: absolute;
  top: 50%;
  left: 100rem;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.ponto-bank-port.hover + .ponto-bank-text-port {
  visibility: visible;
  opacity: 1;
}


.aqua:hover {
  filter: brightness(70%);
}

.aqua {
  width: 50%;
  margin: 0 auto;
  padding-left: 20px;
  transition: opacity 0.9s ease-in-out;
}

.aqua.hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.aqua:hover .hover {
  opacity: 1;
}

.aqua-text {
  position: absolute;
  top: 50%;
  left: 100rem;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.aqua.hover + .aqua-text {
  visibility: visible;
  opacity: 1;
}


.provu:hover {
  filter: brightness(70%);
}

.provu {
  width: 50%;
  margin: 0 auto;
  padding-left: 20px;
  transition: opacity 0.9s ease-in-out;
}

.provu.hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.provu:hover .hover {
  opacity: 1;
}

.provu-text {
  position: absolute;
  top: 50%;
  left: 100rem;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.provu.hover + .provu-text {
  visibility: visible;
  opacity: 1;
}
