.arrow-portfolio {
  color: var(--branco);
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  bottom: 22rem;
  margin-left: 28rem;
}

.image-switcher {
  position: relative;
  display: inline-block;
}

.default-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.alternate-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-switcher:hover .default-image {
  opacity: 0;
}

.image-switcher:hover .alternate-image {
  opacity: 1;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(2, 0.1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1px;
  margin: 20px;
}

.image-switcher {
  position: relative;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);; */
  /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5); */
  /* display: inline-block; */
  left: 30rem;
  bottom: 20rem;
  margin: 20px;
  width: 50rem;
  height: 30rem;
  overflow: hidden;
}

.default-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.alternate-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.image-switcher:hover .default-image {
  opacity: 0;
  transform: scale(1.2);
}

.image-switcher:hover .alternate-image {
  opacity: 1;
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .arrow-portfolio {
    display: none;
  }

  .portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    right: 30rem;
    top: 15rem;
  }

  .image-switcher {
    width: 35rem;
    height: 20rem;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    right: 30rem;
    top: 15rem;
  }

  .image-switcher {
    width: 55rem;
    height: 40rem;
  }
}
