.arrow-portfolio {
  color: var(--branco);
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  bottom: 22rem;
  margin-left: 28rem;
}

.image-switcher {
  position: relative;
  display: inline-block;
}

.default-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.alternate-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-switcher:hover .default-image {
  opacity: 0;
}

.image-switcher:hover .alternate-image {
  opacity: 1;
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-switcher {
  position: relative;
  display: inline-block;
  margin: 20px;
  width: 200px;
  height: 200px;
}

.default-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  height: 100%;
}

.alternate-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  height: 100%;
}

.image-switcher:hover .default-image {
  opacity: 0;
}

.image-switcher:hover .alternate-image {
  opacity: 1;
}

/* ----------------------------------------------------------------------------- */ 


/* .portfolio {
  position: relative;
  bottom: 20rem;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
} */


/* .portfolio {
  width: 70%;
  position: relative;
  left: 17%;
  bottom: 25rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
 
} */
/* 
.ponto-bank-port:hover {
  filter: brightness(70%);
} */

/* .ponto-bank-port {
  width: 50%;
  transition: opacity 200ms linear;
}

.ponto-bank-port.hover {
  opacity: 1;
  transition: opacity 200ms linear;
}

.ponto-bank-port:hover .hover {
  opacity: 1;
} */

/* .ponto-bank-text-port {
  position: absolute;
  top: 30%;
  left: 90rem;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.ponto-bank-port.hover + .ponto-bank-text-port {
  visibility: visible;
  opacity: 1;
} */


/* .aqua:hover {
  filter: brightness(70%);
}

.aqua {
  width: 50%;
  position: relative;
  left: 40rem;
  transition: opacity 0.9s ease-in-out;
}

.aqua.hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.aqua:hover .hover {
  opacity: 1;
} */

/* .aqua-text {
  position: absolute;
  top: 70%;
  left: 30rem;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.aqua.hover + .aqua-text {
  visibility: visible;
  opacity: 1;
} */


/* .provu:hover {
  filter: brightness(70%);
}

.provu {
  width: 50%;
  transition: opacity 0.9s ease-in-out;
}

.provu.hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.provu:hover .hover {
  opacity: 1;
} */

/* .provu-text {
  position: absolute;
  top: 55rem;
  left: 87rem;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.provu.hover + .provu-text {
  visibility: visible;
  opacity: 1;
} */


/* 
.tuca-cafe:hover {
  filter: brightness(70%);
}

.tuca-cafe {
  position: relative;
  left: 40rem;
  width: 50%;
  margin: 0 auto;
  transition: opacity 0.9s ease-in-out;
}

.tuca-cafe.hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.tuca-cafe:hover .hover {
  opacity: 1;
} */

/* .tuca-cafe-text {
  position: absolute;
  top: 30%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tuca-cafe.hover + .tuca-cafe-text {
  visibility: visible;
  opacity: 1;
} */

