.title__container {
  position: absolute;
  margin-left: 25rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 5rem;
  color: var(--azul);
}

.title__description {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: var(--branco);
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.2rem;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin-right: 20rem;
}

.arrow {
  color: var(--branco);
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .arrow {
    display: none;
  }

  .about {
    position: relative;
    right: 23rem;
    top: 43rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .title__container {
    position: absolute;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: justify;
  }

  .title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 5rem;
    color: var(--azul);
  }

  .title__description {
    display: inline;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: var(--branco);
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.2rem;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-right: 20rem;
  }
}

@media screen and (min-width: 768px) {
  .about {
    position: relative;
    right: 12rem;
    top: 40rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

  .title__container {
    position: absolute;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: justify;
  }

  .title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 5rem;
    color: var(--azul);
  }

  .title__description {
    display: inline;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: var(--branco);
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.2rem;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-right: 20rem;
  }
}